<% content_for :body_id, 'homepage' %>

<div class='hero-unit'>
  <h1 data-role='title'>Todos</h1>
  <p data-role='description'>Setup tasks. Get things done!</p>
  <%= form_for :session, url: sessions_path, :html => {class: 'form-inline'} do |form|  %>
    <%= form.label :email, class: 'obscure' %>
    <%= form.email_field :email, placeholder: 'email@address.com', autofocus: 'autofocus' %>
    <%= form.submit 'Sign in ', class: 'btn btn-primary' %>
  <% end %>
</div>

