/* Variables and Mixins */

@width: 580px;

.spacing {
  margin: 0;
  padding: 20px 30px;
}

.mobile-spacing {
  margin: 0;
  padding: 20px 20px;
}


/* Global */
body .container {
  width: @width - 60;
}

.navbar {
  .brand { text-transform: lowercase; }
  .navbar-inner .container { width: @width; }
}


/* Forms */

form#new_todo {
  .spacing;

  input#todo_name {
    font-size: 15px;
    height: 27px;
    margin-right: 5px;
    width: 75%;
  }

  input.btn {
    float: right;
  }
}

.field_with_errors {
  display: inline;
}

.obscure {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


/* Todo Lists */

ul.todo-list {
  font-size: 17px;
  list-style: none;
  .spacing;

  li {
    margin: 0 0 9px 0;

    .check {
      background: image-url("check.png") 0 0 no-repeat;
      cursor: pointer;
      display: block;
      float: left;
      height: 21px;
      margin-left: -30px;
      margin-right: 6px;
      text-indent: -9999px;
      width: 21px;
    }
  }

  li:last-child {
    margin: 0;
  }
}


ul#complete-todos li {
  text-decoration: line-through;

  .check {
    background-position: 0 -21px;
  }
}


/* Media Queries */

// Landscape phones and down
@media (max-width: 600px) {
  .navbar { .navbar-inner .container { width: auto; } }
  body .container { width: auto; }
  form#new_todo {
    .mobile-spacing;
    input#todo_name {
      width: 100%;
    }
    input.btn {
      float: none;
      margin-top: 9px;
    }
  }
  ul.todo-list { .mobile-spacing; }
}
